.dropFile { 
    border:7px dashed #ccc;
    border-radius:10px;
    text-shadow:1px 1px 0 #fff;
    min-height: 100px;
    cursor: pointer;
}
.dropFile.hover{
    border-color:#777;
    background-color:#fff;
}
.thumb {
    height: 100px;
    width: auto;
    margin: 10px 5px 0 0;
}
.readProgressBar, .uploadProgressBar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
.readProgressBar.loading, .uploadProgressBar.loading {
  opacity: 1.0;
}
.readProgressBar .percent, .uploadProgressBar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}
.margin10 {
    margin: 10px 0px;
}